/* Del 0 al 1250px */
@media (max-width:1250px){
    .wrap{
        width: 90%;
        margin: 0px auto;
    }

    #banner h1{
        font-size: 35px;
        margin: 33px auto;
        text-align: center;
        width: 50%;
    }

    .card{
        width: 190px;
        margin: 13px;
    }
    
    .card p{
        display: block;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    #articles{
        width: 65%;
    }

    #articles article{
        width: 97%;
    }

    #footer .wrap > div{
        width: 24%;
    }

    #footer h5{
        font-size: 30px;
    }

    #footer img {
        width: 100%;
    }
    #footer #browsers img{
        width: 14%;
    }   
}

@media (max-width:1196px) {

    .card{
        width: 17%;
        margin: 15px;
    }

    .card .category{
        font-size: 17px;
    }

    .card .description{
        font-size: 14px;
    }

    #footer > .wrap > div{
        width: 24.5%;
    }
}



@media (max-width:1074px) {
    .card {
        width: 16%;
        margin: 18px;
        height: 280px;
    }

    .card .category{
        font-size: 16px;
    }

    .card .description{
        font-size: 13px;
    }

    #articles{
        width: 62%;
    }

    #articles article h4{
        font-size: 20px;
    }

    #articles article p{
        font-size: 15px;
    }
}

@media (max-width:1006px){
    #footer > .wrap > div{
        width: 23%;
    }
}

@media (max-width:994px) {
    #articles{
        width: 60%;
    }

    .card{
        margin: 15px;
    }
}

@media (max-width:940px) {
    .card {
        margin: 17px;
    }

    #articles{
        width: 58%;
    }
}

@media (max-width:905px) {
    .card {
        margin: 16px;
    }

    #articles{
        width: 56%;
    }

    #articles article{
        width: 95%;
    }
}


@media (max-width:862px) {
    .card {
        margin: 12px;
    }

    #navbar{
        margin-right: 10%;
    }

    #articles{
        width: 54%;
    }

    #aside{
        width: 38%;
    }

    .login input[type="submit"], 
    .login input[type="button"], 
    .login input[type="reset"], 
    .login button {
        width: 88px;
    }

    #aside input[type="submit"],
    #aside input[type="button"] {
        font-size: 14px;
    }

    #footer > .wrap > div{
        width: 21%;
    }

    #footer h5 {
        font-size: 26px;
    }
}

@media (max-width:815px){
    #banner h1{
        font-size: 30px;
    }

    #navbar{
        margin-right: 8%;
    }
}