/* Del 0 al 1250px */
@media (max-width:1250px){
    .wrap{
        width: 90%;
        margin: 0px auto;
    }

    #banner h1{
        font-size: 35px;
        margin: 33px auto;
    }
    .card{
        width: 190px;
        margin: 13px;
    }
    
    .card p{
        display: block;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    #articles{
        width: 65%;
    }

    #articles article{
        width: 97%;
    }

    #footer .wrap > div{
        width: 24%;
    }

    #footer h5{
        font-size: 30px;
    }

    #footer #browsers img{
        width: 14%;
    }
}